<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        
        <main class="mx-5">
            <h2>Hola <%= user.NOMBRE+' '+user.APELLIDO %></h2>
            <section class="user-info d-flex my-4">
                <figure class="avatar-container me-4" style="width: 120px; height: 120px;">
                    <img class="avatar-image" src="/image/<%= user.IMAGEN %>" alt="username" style="width: 100%;">
                </figure>
                <article>
                    <h3>
                        <%= user.NOMBRE %> <%= user.APELLIDO %>
                    </h3>
                    <p> <%= user.username %></p>
                    <p><%= user.EMAIL %></p>
                </article>
            </section>
            <div class="d-flex gap-3">
                <a href="/user/account/<%= user.ID_USERS %>" role="button" class="btn btn-warning">Editar</a>
                <a href="/logout" role="button" class="btn btn-danger">Cerrar Sesion</a>
                <% if ( user.ID_CATEGORIA === 1) { %>
                    <a href="../../admin/users" class="btn btn-primary">
                    <div class="admin-list-icon">
                    <i class="fa-solid fa-users"></i>
                    </div>
                    <div  class="admin-list-text">
                        Lista de Usuarios
                    </div>
                </a> <% } %>
            </div>
        </main>

        <%- include('partials/footer') %>
    </body>

</html>