<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <main>
          <section class="content-form">
              <form method="POST" class="data-form">
                  <h1 class="text-center">Iniciar Sesion</h1>
                  <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <% if(locals.errors && errors.email){%>
                      <small style="color: red;">
                          <%= errors.email.msg %>
                      </small>
                    <% } %> 
                  </div>
                  <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <% if(locals.errors && errors.password){%>
                      <small style="color: red;">
                          <%= errors.password.msg %>
                      </small>
                    <% } %> 
                  </div>
                  <input class="check" type="checkbox" name="remember_user" value="remember"> Recordarme </label>
                  <div class="d-flex flex-column align-items-center">
                    <button type="submit" class="btn btn-primary mb-2">Iniciar Sesion</button>
                    <div>
                        <span>¿No tienes cuenta? <a href="/user/register">Registrarse</a></span>
                    </div>
                  </div>
                  
              </form>
          </section>
        </main>
        <%- include('partials/footer') %>
    </body>

</html>