<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
            <section class="">
                     
                        <form action="/register" method="POST" class="" >
                            
                            <h1 class="referent">registro</h1>
                            <section  class="register-sesion">
                                 
                                <label for="name">nombre</label>
                                <input type="text" name="name" id="name" value="<%= locals.oldData && oldData.name? oldData.name : ""%>"> 
                                <% if(locals.errors && errors.name){%>
                                    <small style="color: red;">
                                        <%= errors.name.msg %>
                                    </small>
                                <% } %> 
                                <label for="lastName">apellido</label>
                                <input type="text" name="lastName" id="lastName" value="<%= locals.oldData && oldData.lastName? oldData.lastName: "" %>"> 
                                <% if(locals.errors && errors.lastName){%>
                                    <small style="color: red;">
                                        <%= errors.lastName.msg %>
                                    </small>
                                <% } %>
                                <label for="userName">username</label>
                                <input type="text" name="userName" id="userName" value="<%= locals.oldData && oldData.userName? oldData.userName : "" %>"> 
                                <% if(locals.errors && errors.userName){%>
                                    <small style="color: red;">
                                        <%= errors.userName.msg %>
                                    </small>
                                <% } %> 
                                <label for="email">email</label>
                                <input type="email" name="email" id="email" value="<%= locals.oldData && oldData.email? oldData.email : "" %>"> 
                                <% if(locals.errors && errors.email){%>
                                    <small style="color: red;">
                                        <%= errors.email.msg %>
                                    </small>
                                <% } %>
                                <label for="password">contraseña</label>
                                <input type="password" id="password" name="password" >
                                <% if(locals.errors && errors.password){%>
                                    <small style="color: red;">
                                        <%= errors.password.msg %>
                                    </small>
                                <% } %> 
                                
                            </section>
                            
                            
                        <button type="submit">enviar</button>
                            
                </form>

            </section>

            <%- include('partials/footer') %>
    </body>

</html>