<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <main class="mx-5">
            <section class="users-list">
                <h2 class="my-2">Usuarios ( <%= user.length %>)</h2>
                <hr>
                <% user.forEach(user => { %>        
                    <div class="d-flex justify-content-between flex-wrap">
                        <a href="/admin/user/<%= user.ID_USERS %>" class="d-flex gap-2 text-decoration-none text-dark">
                                <figure class="avatar-container">
                                    <img class="avatar-image" src="/image/<%= user.IMAGEN %>" alt="" style="width: 100%;">
                                </figure>
                                <article>
                                    <p class="fs-4 mb-0"><%= user.NOMBRE+" "+user.APELLIDO %></p>
                                    <p class="fs-5"><%= user.EMAIL %></p>
                                    
                                </article>
                        </a>
                        <div div class="d-flex gap-2 align-items-center">
                            <a href="../../admin/edit/<%= user.ID_USERS %>" class="btn btn-warning">Editar</a>
                            <form  method="POST"     action="../../admin/users/delete/<%= user.ID_USERS %>?_method=PUT" >
                                <button class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                <% }) %>
                
            </section>
        </main>

        <%- include('partials/footer') %>
    </body>

</html>